# --- W&B (used through --env-file) ---
WANDB_API_KEY=
WANDB_PROJECT=
WANDB_ENTITY=
WANDB_MODE=offline   # because compute nodes are offline; sync happens from bg process on login node (see --auto-sync's usage under slurm/)

# --- Paths ---
USER_DIR=/users/<user>/<group>
COMPUTE_DIR=/well/<group>/users/<user>

RELATIVE_PROJECT_DIR=thesis
ENV_FILE=${USER_DIR}/${RELATIVE_PROJECT_DIR}/.env

PROJECT_ROOT=${COMPUTE_DIR}/${RELATIVE_PROJECT_DIR}/project/network_analyzer
SLURM_LOG_DIR=${COMPUTE_DIR}/${RELATIVE_PROJECT_DIR}/slurm_logs


RESULTS_DIR=${PROJECT_ROOT}/results
PRETRAIN_OUTPUT_DIR=${PROJECT_ROOT}/pretrained_models/mnist/base/!OPT/!SD/
EXPERT_MODEL_DIR=${PROJECT_ROOT}/pretrained_models/mnist/expert/!OPT/
# MNIST: results_analysis/mnist ; CIFAR: results_analysis/cifar (use --analysis-output-dir to change from defualt)
ANALYSIS_OUTPUT_DIR=${PROJECT_ROOT}/results_analysis/mnist

# --- SLURM-specific ---
SLURM_ACCOUNT=
SLURM_ARRAY_MAX_PARALLEL=2