__pycache__/
data/
results*
local/
README.md
*.ipynb_checkpoints
temp_*/
.vscode/
to_delete/
test.json
* copy *.ipynb
pretrained_models

# Also consider executing the following commands on cluster whne changing torch index
# git update-index --skip-worktree uv.lock
# git update-index --skip-worktree pyproject.toml
# git update-index --skip-worktree network_analyzer.egg-info/*